<div class="indicador-scroll">←Deslizar para ver el resto de columnas→</div>

<section class="contenedor-scroll">
    <section class="tabla">
        <div class="fila encabezado">
            <div class="col">Nombre del Equipo</div>
            <div class="col">Partidos Jugados</div>
            <div class="col">Partidos Ganados</div>
            <div class="col">Partidos Empatados</div>
            <div class="col">Goles a Favor</div>
            <div class="col">Goles en contra</div>
            <div class="col">Posicion</div>
        </div>

        {{#each tablasData}}
        {{>tabla
        nombre=nombre
        partidosJugados=partidosJugados
        partidosGanados=partidosGanados
        partidosEmpatados=partidosEmpatados
        golesFavor=golesFavor
        golesContra=golesContra
        posicion=posicion
        }}
        {{/each}}
    </section>
</section>